@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font:#fff;
  --background-start: #242424;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
 background:var(--background-start);
 color:var(--font);

}

*{
  box-sizing: border-box;
  
}